.main-background {
  -fx-background-color: #ffd1d1;
}

.banner-header {
  -fx-background-color: #86a788;
  -fx-padding: 16px;
  -fx-alignment: center;
}

.banner-text {
  -fx-fill: #fffdec;
  -fx-font-size: 28px;
  -fx-font-weight: bold;
}

.form-container {
  -fx-background-color: #ff98c6;
  -fx-padding: 25px 40px;
  -fx-background-radius: 24px;
  -fx-spacing: 16px;
  -fx-alignment: top-center;
  -fx-pref-width: 450px;
}

.field-group {
  -fx-background-color: #fffdec;
  -fx-padding: 16px;
  -fx-background-radius: 20px;
  -fx-spacing: 12px;
}

.field-label {
  -fx-text-fill: #787878;
  -fx-font-size: 16px;
}

TextField {
  -fx-background-color: #eeeeee;
  -fx-border-color: #dddddd;
  -fx-border-radius: 6px;
  -fx-background-radius: 6px;
  -fx-padding: 8px;
  -fx-font-size: 16px;
  -fx-text-fill: #787878;
  -fx-pref-width: 350px;
}

.pesan-button {
  -fx-background-color: #86a788;
  -fx-text-fill: #fffdec;
  -fx-font-weight: 500;
  -fx-font-size: 20px;
  -fx-background-radius: 10px;
  -fx-pref-width: 400px;
  -fx-pref-height: 44px;
}

.pesan-button:hover {
  -fx-background-color: #fffdec;
  -fx-text-fill: #0f0f0e;
}