/* Latar belakang pink muda */
.root {
    -fx-background-color: #F8C8DC;
}

/* Kontainer hijau bundar */
.auth-root {
    -fx-background-color: #86A788;
    -fx-background-radius: 30px;
    -fx-padding: 50px;
    -fx-spacing: 15px;
    -fx-alignment: center;
}

/* Judul register */
.auth-header {
    -fx-text-fill: #FFFDEC;
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

/* Field input */
.auth-field {
    -fx-background-color: #EFEFEF;
    -fx-text-fill: #797979;
    -fx-font-size: 20px;
    -fx-font-family: "Jost";
    -fx-font-weight: 400;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-border-color: #AAA;
    -fx-border-width: 2px;
    -fx-pref-height: 50px;
    -fx-max-width: 600px;
    -fx-padding: 10px;
}

/* Tombol register */
.auth-button {
    -fx-background-color: #FFFDEC;
    -fx-text-fill: #000000;
    -fx-font-size: 24px;
    -fx-font-family: "Jost";
    -fx-font-weight: 400;
    -fx-background-radius: 15px;
    -fx-pref-height: 50px;
    -fx-max-width: 300px;
    -fx-alignment: center;
}

/* Link login */
.auth-link {
    -fx-text-fill: #E0FFE0;
    -fx-font-family: "Nunito";
    -fx-font-size: 16px;
    -fx-font-weight: 600;
    -fx-underline: true;
}